:root {
    --default-spacing: 5px;
}
aside {
    padding: 0 var(--default-spacing);
}

button {
    margin: var(--default-spacing) 0;
    width: 100%;
}

header {
    text-align: center;
}

input {
    width: 100%;
}

main {
    display: flex;
    margin: var(--default-spacing);
    padding: var(--default-spacing);
    flex-wrap: wrap;
}

section {
    width: 75%;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

ul li {
    margin: var(--default-spacing) 0;
}

.hide {
    display: none;
}

#Day-Forecast {
    border-width: 2px;
    border-style: solid;
    padding: var(--default-spacing);
}

#Short-Term-Forecast {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#Short-Term-Forecast div {
    padding: var(--default-spacing);
    min-width: 15%;
    margin-top: var(--default-spacing);
}